services:
  plants:
    container_name: plants
    build: ./plants
    volumes:
      - ./plants/code:/usr/src/app
    networks:
      - foodforest
    ports:
      - "3020:3020"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  gateway:
    container_name: apigateway
    build: ./apigateway
    volumes:
      - ./apigateway/code:/usr/src/app
    networks:
      - foodforest
    ports:
      - "3011:3011"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  events:
    container_name: events
    build: ./events
    volumes:
      - ./events/code:/usr/src/app
    networks:
      - foodforest
    ports:
      - "3021:3021"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

  rewards:
    container_name: rewards
    build: ./rewards
    volumes:
      - ./rewards/code:/usr/src/app
    networks:
      - foodforest
    ports:
      - "3022:3022"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

networks:
  foodforest:
    driver: bridge
